[Unit]
Description=Service voor de verhalenmachine
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/volumio/verhalenmachine/verhalenmachine_run.py

[Install]
WantedBy=multi-user.target
