[Unit]
Description=Service voor de verhalenmachine vumeter
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/python /home/volumio/verhalenmachine/vumeter.py

[Install]
WantedBy=multi-user.target
